<!-- realTimeProducts.handlebars -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toyota Cars</title>
  </head>
  <body>
    <h1>Real-Time Products</h1>

    <ul id="realTimeProductList">
      {{#each products}}
        <li>
          {{this.title}}
          -
          {{this.description}}
          -
          {{this.price}}
          -
          {{this.quantity}}
        </li>
      {{/each}}
    </ul>

    <!-- Formulario para agregar productos mediante WebSocket -->
    <form id="productForm">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required />

      <label for="description">Description:</label>
      <input type="text" id="description" name="description" required />

      <label for="price">Price:</label>
      <input type="number" id="price" name="price" required />

      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" required />

      <button type="submit">Agregar Producto</button>
    </form>

    <!-- Socket.IO Script -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io(); // Event listener para el formulario de productos
      document.getElementById('productForm').addEventListener('submit',
      function(event) { event.preventDefault(); const title =
      document.getElementById('title').value; const description =
      document.getElementById('description').value; const price =
      document.getElementById('price').value; const quantity =
      document.getElementById('quantity').value; if (title && description &&
      price && quantity) { socket.emit('newProduct', { title, description,
      price, quantity }); // Limpiar el formulario
      document.getElementById('title').value = '';
      document.getElementById('description').value = '';
      document.getElementById('price').value = '';
      document.getElementById('quantity').value = ''; } else {
      console.error('Complete todos los campos antes de agregar un producto.');
      } }); socket.on('updateProducts', (updatedProducts) => { const
      realTimeProductsList = document.getElementById('realTimeProductList');
      console.log('Productos actualizados:', updatedProducts); // Limpiar lista
      realTimeProductsList.innerHTML = ''; // Agregar los productos
      updatedProducts.forEach((product) => { const li =
      document.createElement('li'); li.textContent = `${product.title} -
      ${product.description} - ${product.price} - ${product.quantity}`;
      realTimeProductsList.appendChild(li); }); });
    </script>
  </body>
</html>