<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToyotaCars</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="cart-page">
    <h1>ToyotaCars</h1>
    <h2>Carrito de Compras</h2>
    <h2>Productos en el carrito:</h2>
    <ul>
      {{#each cart.products}}
        <li>{{this.productId.title}}
          - Precio:
          {{this.productId.price}}
          - Cantidad:
          {{this.quantity}}</li>
      {{/each}}
    </ul>
    <p>Total: {{cart.totalPrice}}</p>
    <a href="/homeHandlebars" class="footer-button">Volver al inicio</a>
  </body>
</html>