<div>
  <h1 class="chatTitle">ChatToyota</h1>

  <div class="chatContainer" id="chat"></div>
{{#each messages}}
<div class="msg">
  <p>{{this.users}}:</p>
  <p>{{this.message}}</p>

</div>
{{/each}}
</div>
  <form class="chatInsertContainer" onsubmit="return newMessage()">
    <div>
      <input
        type="user"
        class="chatUser"
        id="user"
        placeholder="nombre..."
      /></div>
    <div>
      <input
        type="text"
        class="chatMessage"
        id="message"
        placeholder="message..."
      /></div>

    <input type="submit" value="Enviar" class="chatButton" id="submitButton" />
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
