<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login-ToyotaCars</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="bodyl">
    <div class="containerl">
      <h1 class="h1l">Iniciar sesión</h1>
      <form class="forml" action="/loginHandlebars/login" method="POST">
        <label class="label" for="email">Correo electrónico:</label>
        <input class="inputl" type="email" id="email" name="email" required />
        <label class="label" for="password">Contraseña:</label>
        <input
          class="inputl"
          type="password"
          id="password"
          name="password"
          required
        />
        <button class="buttonl" type="submit">Iniciar sesión</button>
      </form>
      <p>¿No tienes una cuenta? <a href="/registerHandlebars">Regístrate</a></p>
    </div>
  </body>
</html>