<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToyotaCars</title>
  </head>
  <body>
    <h1>Lista de Productos</h1>
    <ul>
      {{#each products}}
        <li>{{this.title}}
          - Precio:
          {{this.price}}
          - Cantidad:
          {{this.quantity}}</li>
      {{/each}}
    </ul>
  </body>
</html>